body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    color: aliceblue;
}
span{
   display: inline-block;
    font-size: 24px;
    position: relative;
    left: 50%;
    color: red;
    transform: translateX(-50%);
}

input {
    position: relative;
    left: 45%;
    transform: translateX(-45%);
}
label {
    position: relative;
    left: 15%;
    transform: translateX(-15%);
}
input[value='Cadastrar']{
    width: 15vw;
    height: 5vh;
    border-radius: 1rem;
    background-color: red;
    color: aliceblue;
    font-size: 24px;
}